/*This comment is so that I can push changes to github*/
/*Modifications to the body*/
body{
	background: radial-gradient(#eee, #4567aa);
	font-family: 'Roboto', sans-serif;
}

.temp{
	display:flex;
	justify-content: center;
}

.temp2{
	display:flex;
	justify-content: center;
}

.centerpic{
	display: flex;
	justify-content: center;
	border: 2px solid white;
	border-radius: 1px;
}


.title{
	display: flex;
	justify-content: center;
}

.news{
	border: #8fbc8f;
	padding: 16px;
	background: radial-gradient(cyan, #62a0b092);
}

h1{
	display: flex;
	justify-content: center;
}


h2{
	display: flex;
	justify-content: center;
}

h3{
	display: flex;
	justify-content: center;
}

h5{
	display: flex;
	justify-content: center;
}

#lastmodifieddate{
	display: flex;
	justify-content: center;
}


/*Modifications to the join page*/
.submit{
	padding: 10px;
}


.medals{
	display:grid;
	grid-template-columns: 1fr;
	justify-content: right;	
}

/*Page pictures in the body*/
.waves{
	display:flex;
	justify-content: center;
}

.whalewatching{
	display:flex;
	justify-content: center;
}

.hikingstick{
	display:flex;
	justify-content: center;
}

.info{
	display: flex;
	justify-content: center;
}

.temperature{
	display:flex;
	justify-content: center;
}

.currently{
	display:flex;
	justify-content: center;
}

.airplane{
	display: flex;
	justify-content: center;
}
#windchill{
	display: flex;
	justify-content: center;
}

.pictureone{
	display: flex;
	justify-content: flex-start;
}


/*Header Styles*/
header {
	background-color: rgba(255, 255, 255, 0.908);
	margin: auto;
	padding:16px;
	background: radial-gradient(rgb(28, 43, 130), #37176d6f);
}

.flex-header{
	display: flex;
	justify-content: space-between;
}

.nfldpic{
	display:flex;
	text-align: center;
	justify-content: space-evenly;
}

.links{
	display:flex;
	justify-content: space-evenly;
}
	
.hide{
	display: none;
}



#monday-banner{
	text-align: center;
}

.navigation{
	display:flex;
	flex-direction: column;
}

#navigation a{
	background-color: #8fbc8f;
    color: red;
	text-decoration: none;
	padding: 10px;
}

#navigation a:hover{
	background-color: #4567aa;
    color: white;
}

#currentdate{
	display:flex;
	justify-content: center;
}


/*Footer edits*/
footer {
	background-color: rgba(255, 255, 255, 0.908);
	margin: auto;
	padding:16px;
	background: radial-gradient(rgb(28, 43, 130), #37176d6f);
	}

.bottomheader{
	display:flex;
	justify-content: center;
}

.logo{
	display: flex;
	justify-content: center;
}


/*Pictures in discover page*/
.pictureone{
	display: flex;
	flex-direction: column;
}

.picturetwo{
	display: flex;
	flex-direction: column;
}

.picturethree{
	display: flex;
	flex-direction: column;
}

.picturefour{
	display: flex;
	flex-direction: column;
}

.picturefive{
	display: flex;
	flex-direction: column;
}





