/*Modifications to the body*/
body{
	background: radial-gradient(#eee, #4567aa);
	font-family: 'Roboto', sans-serif;
}

.centerpic{
	display: flex;
	justify-content: center;
}

.title{
	display: flex;
	justify-content: center;
}

.news{
	border: #8fbc8f;
	padding: 16px;
	background: radial-gradient(cyan, #62a0b092);
}

h1{
	display: flex;
	justify-content: center;
}


h2{
	display: flex;
	justify-content: center;
}

h3{
	display: flex;
	justify-content: center;
}

h5{
	display: flex;
	justify-content: center;
}

#lastmodifieddate{
	display: flex;
	justify-content: center;
}


/*Page pictures in the body*/
.waves{
	display:flex;
	justify-content: center;
}

.whalewatching{
	display:flex;
	justify-content: center;
}

.hikingstick{
	display:flex;
	justify-content: center;
}

.info{
	display: flex;
	justify-content: center;
}

.sunny{
	display: flex;
	justify-content: center;
}

.airplane{
	display: flex;
	justify-content: center;
}
#windchill{
	display: flex;
	justify-content: center;
}

.pictureone{
	display: flex;
	justify-content: flex-start;
}


/*Header Styles*/
header {
	background-color: rgba(255, 255, 255, 0.908);
	margin: auto;
	padding:16px;
	background: radial-gradient(rgb(28, 43, 130), #37176d6f);
}

.flex-header{
	display: flex;
	justify-content: space-between;
}

.nfldpic{
	display:flex;
	text-align: center;
	justify-content: space-evenly;
}

.links{
	display:flex;
	justify-content: space-evenly;
}
	
.hide{
	display: none;
}

#monday-banner{
	text-align: center;
}

.navigation{
	display:flex;
	flex-direction: column;
}

#currentdate{
	display:flex;
	justify-content: center;
}


/*Footer edits*/
footer {
	background-color: rgba(255, 255, 255, 0.908);
	margin: auto;
	padding:16px;
	background: radial-gradient(rgb(28, 43, 130), #37176d6f);
	}

.bottomheader{
	display:flex;
	justify-content: center;
}

.logo{
	display: flex;
	justify-content: center;
}


/*Pictures in discover page*/
.pictureone{
	display: flex;
	flex-direction: column;
}

.picturetwo{
	display: flex;
	flex-direction: column;
}

.picturethree{
	display: flex;
	flex-direction: column;
}

.picturefour{
	display: flex;
	flex-direction: column;
}

.picturefive{
	display: flex;
	flex-direction: column;
}





