 
.footer{
	display:flex;
	flex-direction: column;
	min-height: 100vh;
	margin-top: auto;
}

.m{
	display: grid;
	float:inline-start;
}
nav{
    background-color: #eee;
    display: flex;
    justify-content: left;
}
body{
    font-family: 'Roboto', sans-serif;
}

h1{
    float: left;
}
body {
	padding: 0;
	margin: 0;
}

header {
	display:flex;
	background-color: #fff;
	padding: 5px 0;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.nfldpic {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.nfldpic img {
	width: 80px;
	height: auto;
	padding: 5px;
	margin: 5px;
}
.headings h1 {
	font-size: 1.5rem;
}
.navigation {
	display: flex;
}

.navigation a{
	padding: 10px;
	float: right;
	
}

.navigation a:hover{
	color: purple;
	opacity: 0.7;
}


.hamburger{
	float:left;
	}

.social{
	padding: 5px;
	height: 20px;
	width: 20px;
	float: right;
}

.navigation svg {
	width: 25px;
	height: auto;
}






