@media only screen and(min-width: 60em){
    main{
        display:grid;
        grid-template-columns: 1fr 1fr;
        font-size: 0.8rem;
    }
}
h1{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Inter Tight', sans-serif; 
}